<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Tech Blog</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand active" href="#">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><button class="loginBtn">Login</button></li>
                    <li><button class="dashboardBtn">Dashboard</button></li>
                </ul>
            </div>
            <div class="jumbotron">
                <h1 class="h1">DEV BLOG</h1>
                <p>Join your fellow developers and designers to share thoughts and publications about front end
                    development and UX/UI. </p>
            </div>
        </nav>
    </div>
    <main class="blogBox container container-fluid mt-6">
     Render the contents of the sub layout here -->
        <!-- {{{ body }}} -->
       
<!-- <div class="row">
    <div class="col-md-6">
        <div class="login-card">
            <h2 class="page-title">Login</h2>
            <form class="form login-form">
                <div class="form-group">
                    <label for="username-login">Username:</label>
                    <input class="form-input" type="text" user_id="username-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">Password:</label>
                    <input class="form-input" type="text" user_id="password-login" />
                </div>
                <div class="form-group">
                    <button class="loginBtn2" type="submit">Login</button>
                </div>
                <h4>Not registered with us? Sign up Now!</h4>
            </form>
        </div>
    </div>
    <div class="login-card">
        <h2 class="page-title">Sign Up</h2>
        <form class="form signup-form">
            <div class="form-group">
                <label for="username-signup">Username:</label>
                <input class="form-input" type="text" user_id="username-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="text" user_id="password-signup" />
            </div>
            <div class="form-group">
                <button class="signUpBtn" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>
<script src="/public/js/login.js"></script>
    </main>
</body>

</html>  --> 