<div class="row mt-4">
            <div class="col-md-6">
                <h3>Create a New Blog Post</h3>
                <form class="form newBlogPost-form">
                    <div class="form-group">
                        <label for="blogPost-topic">Post Topic:</label><br />
                        <input class="form-input" type="text" id="blogPost-topic" name="blogPost-topic" />
                    </div>
                    <div class="form-group">
                        <label for="blogPost-content">Post Content:</label>
                        <textarea class="form-control" rows="10" id="blogPost-content" name="blogPost-content"></textarea>
                    </div>
                      <div class="form-group">
                        <button type="submit" class="submitPostBtn">Submit Post</button>
                    </div>
                </form>
            </div>
        
            {{#if blogPost.length}} 
            <div class="col-md-6 blogPost-list">
                <h3>Current Blog Posts:</h3>
        
                 {{#each blogPosts as |blogPost|}} 
                <div class="row mb-2">
                    <div class="col-md-8">
                         <h4><a href="/views/dashboard.handlebars/{{blogPost-topic.id}}">{{blogPost-topic.name}}</a></h4> 
                    </div>
                    <div class="col-md-4">
                        <button class="deleteBtn" data-id="{{blogPost-topic.id}}">Delete</button>
                    </div>
                </div>
                {{/each}} 
            </div>
            {{/if}}
        </div>

<script src="/public/js/profile.js"></script>