
body {
    background-image: url('/public/assets/texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    margin-top: 10px;
} 

.navbar-brand {
    margin-top: 8px;
    font-weight: bold;
}
.jumbotron {
    margin: 10px;
    border-radius: 8px;
}

.loginBtn, .dashboardBtn {
    padding: 8px 15px;
    margin-top: 12px;
    margin-left: 20px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-dark {
    background-color: black;
    color: lightgrey;
    border-radius: 8px;
    font-weight: bold;
}

.signUpBtn, .loginBtn2 {
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
}

.blogBox {
    background-color: black;
    color: white;
    margin-bottom: 20px;
    border-radius: 8px;
}

.submitPostBtn, .deleteBtn {
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
}

.submittedPosts {
    color: white;
}