
.navbar {
    margin-top: 10px;
} 

.navbar-brand {
    margin-top: 8px;
    font-weight: bold;
}
.jumbotron {
    margin: 10px;
    border-radius: 8px;
}

.loginBtn, .dashboardBtn {
    padding: 8px 15px;
    margin-top: 12px;
    margin-left: 20px;
    border-radius: 8px;
}

.btn-dark {
    background-color: black;
    color: lightgrey;
    border-radius: 8px;
}

.signUpBtn, .loginBtn2 {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
}